<body>
    <h1 style="text-align:center;font-size: xx-large;font-weight:bolder;">Vote-Live</h1>
    <h2 style="text-align:center;font-size: large;padding-top:15;"> <b>Welecome </b> </br>
      <%= username %>
    </h2>
    <ul style="font-size: large;font-weight:bold;">
      <li><a class="active text-green-900" href="/home">Home</a></li>
  
      <li><a class="text-red-700" href="/signout">Sign Out</a></li>
    </ul>
  
  </body>